<div>
  <h1>Results for <%= query %></h1>
  <h2>Total Results found:<%= data.pageInfo.totalResults %></h2>
  <h3>Results on this page: <%= data.pageInfo.resultsPerPage %></h3>
  <h3>Total pages retrieved: <%= data.pageInfo.totalResults / data.pageInfo.resultsPerPage  %>
</div>
